In [41]:
##given problem statement

##Association between Device Type and Customer Satisfaction

##Background:
#Mizzare Corporation has collected data on customer satisfaction levels for two types of smart home devices:
#Smart Thermostats and Smart Lights. 
#They want to determine if there's a significant association between the type of device purchased and the customer's satisfaction level.

###Objective:
#To use the Chi-Square test for independence to determine if there's a significant association between 
#the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

In [49]:
#step 1
#framing the hypothesis

##in order to perform chi-square test of independence the data is not in the csv file for giving to pandas to read it
#so the data in converted into csv format.


##HYPOTHESIS

#H0:There is no significant association between the type of smart home device purchased and the customer satisfaction level. 
#(type of device and satisfaction level are independent).


#H1:There is significant association between the type of smart home device purchased and the customer satisfaction level.
#(type of the device and satisfaction level are dependent).

In [47]:
#importing pandas and reading the data from the file.
import pandas as pd
df=pd.read_csv("chi.csv")
df

     Satisfaction  Smart Thermostat  Smart Light
0  Very Satisfied                50           70
1       Satisfied                80          100
2         Neutral                60           90
3     Unsatisfied                30           50
4  Very Satisfied                20           50

In [51]:
#since there are 2 variables needs to be compared first we seperated the data by performing
#the chi square test using Satisfaction and Smart Thermostat columns.
##in order words expected frequency should be calculated for two types of smart home devices
import researchpy as rp
table1, results1 = rp.crosstab(df["Satisfaction"], df["Smart Thermostat"],test='chi-square')
table1

                 Smart Thermostat
Smart Thermostat               20 30 50 60 80 All
Satisfaction
Neutral                         0  0  0  1  0   1
Satisfied                       0  0  0  0  1   1
Unsatisfied                     0  1  0  0  0   1
Very Satisfied                  1  0  1  0  0   2
All                             1  1  1  1  1   5

In [59]:
#step 2,a.
results1

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   15.0000
1                     p-value =    0.2414
2                  Cramer's V =    1.0000

In [109]:
#calculating chi_square table value for degrees of freedom=12
#chi-square table value (for " Smart Thermostat " with Satisfaction Level)
import scipy.stats as stats
chi_table1 = stats.chi2.ppf(q = 0.95, df = 12)
chi_table1.round(4)

21.0261

In [57]:
##observing the conditions for Smart Light criteria
table2, results2 = rp.crosstab(df["Satisfaction"], df["Smart Light"],test='chi-square')
table2

               Smart Light
Smart Light             50 70 90 100 All
Satisfaction
Neutral                  0  0  1   0   1
Satisfied                0  0  0   1   1
Unsatisfied              1  0  0   0   1
Very Satisfied           1  1  0   0   2
All                      2  1  1   1   5

In [61]:
#step 2,b
results2

                Chi-square test  results
0  Pearson Chi-square ( 9.0) =    11.250
1                    p-value =     0.259
2                 Cramer's V =     0.866

In [102]:
#calculating chi_square table value for degrees of freedom=9
#chi-square table value (for " Smart Light " with Satisfaction Level)
import scipy.stats as stats
chi_table2 = stats.chi2.ppf(q = 0.95, df = 9)
chi_table2

16.918977604620448

In [63]:
#step 3

###obtaining critical value from chi-square distribution
import scipy.stats as stats

alpha = 0.05
df = 9

chi_critical = stats.chi2.ppf(q=1-alpha, df=df)
print("Critical value from chi-square distribution:", chi_critical)

Critical value from chi-square distribution: 16.918977604620448

In [98]:
###If the calculated chi-square statistic is greater than the critical value, reject the null hypothesis.
###If the calculated chi-square statistic is less than or equal to the critical value, not reject the null hypothesis.
###in this case, calculated chi-square statistic of 25 and a critical value of approximately 16.92, 
###we will reject the null hypothesis because the calculated statistic is more than the critical value.

In [104]:
#step 4
#making the decision

test1=15.0000
test2=11.250
if test1>chi_table1 and test2>chi_table2:
    print("H0 is rejected and H1 will be accepted")
else:
    print("H0 is accepted and H1 will be rejected")

H0 is accepted and H1 will be rejected

In [ ]:
###hence we can conclude that we are having strong significance evidence that there is no significant association between smart device and satisfaction levels.